<!--parallax 1 -->
<article class="bg1 text-center">
  <div class="logoimg"> <%= image_tag "logo_cm.png" %> </div>
  <p class="lead">Experimente uma nova ferramenta para a gestao de contratos e documentos.<br>
ContractManager te ajudara e guiara na organizacao e manutencao!</p>
  <p><%= link_to "Registrar", signup_path, class: "btn btn-success" %>
  <%= link_to "Entrar",    login_path, class: "btn btn-default" %></p>
</article>
<!--/parallax 1-->


<div class="container text-center">
  <h1>Porque gerenciar seus contratos?</h1>
</div>

<!--/container Porque gerenciar seus contratos-->
<div class="container">
  <hr>
  <div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag "img_facilidade.png" %> 
      <div class="caption">
        <hr>
        <h3><center>Facilidade</center></h3>
        <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag "img_organizacao.png" %> 
      <div class="caption">
      <hr>
        <h3><center>Organização</center></h3>
        <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <%= image_tag "img_compartilhamento.png" %> 
      <div class="caption">
      <hr>
        <h3><center>Compartilhamento</center></h3>
        <p>Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
</div>
</div> 
<!--/container-->


<div class="divider"></div>

<!--parallax 2 -->
<aside class="bg2 text-center">
  <div class="container">
    <div class="row">

      <div class="row">
        <div class="col-xs-6 col-md-4"> <%= image_tag "img01.png"%> </div>
        <div class="col-xs-12 col-md-8">
            <h3>Gerencie seus Contratos com Nosso Android App</h3>
            <p>Hello! At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo.</p>
        </div>
      </div>

      <div class="row"><div class="divider"></div></div>

      <div class="row">
        <div class="col-xs-12 col-md-8">
            <h3>Analise graficamente seus contratos</h3>
            <p>Hello! At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo.</p>
        </div>
        <div class="col-xs-6 col-md-4"> <%= image_tag "img02.png"%> </div>
      </div>

      <div class="row"><div class="divider"></div></div>

      <div class="row">
        <div class="col-xs-6 col-md-4"><%= image_tag "img03.png" %> </div>
        <div class="col-xs-12 col-md-8">
            <h3>Faça acordos eletronicamente</h3>
            <p>Hello! At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo.</p>
        </div>
      </div>
      
    </div>
  </div>  
</aside>
<!--/parallax 2-->
